# ETL

In [ ]:
!pip install --upgrade google-cloud-bigquery

In [ ]:
!pip install pandas-gbq

In [ ]:
!pip install db-dtypes

In [ ]:
import csv
import numpy

import pymongo

import pandas as pd
import matplotlib.pyplot as plt

from google.cloud import bigquery
from google.oauth2 import service_account

### Extracting data

In [ ]:
DB_NAME = "sample_restaurants"
COLLECTION = "restaurants"

In [ ]:
pip install pymongo[srv]

In [ ]:
client = pymongo.MongoClient("mongodb+srv://3DW1N:escriba@cluster0.s4u2ntr.mongodb.net/?retryWrites=true&w=majority", server_api = pymongo.server_api.ServerApi('1'))

In [ ]:
db = client[DB_NAME]

In [ ]:
col = db[COLLECTION]

In [ ]:
result = col.find({}, {"_id": 0, "cuisine": 1, "name": 1, "borough": 1})

In [ ]:
df = pd.json_normalize(result).rename(columns = {"cuisine":"Cocina","name":"Restaurante","borough":"Ciudad"})

In [ ]:
df.shape

(25359, 3)

In [ ]:
df.dtypes

Ciudad         object
Cocina         object
Restaurante    object
dtype: object

In [ ]:
df.sample(100)

In [ ]:
df.to_csv('data.csv')
df.head

### Exploring and cleaning data

In [ ]:
# Elimina datos nulos
df=df.dropna()

In [ ]:
df["Cocina"] = df["Cocina"].astype(str)
df["Restaurante"] = df["Restaurante"].astype(str)
df["Ciudad"] = df["Ciudad"].astype(str)

In [ ]:
df["Cocina"].value_counts(dropna = False)

### Transforming data

In [ ]:
df["count"] = 1

In [ ]:
df_grouped = df.groupby(["Cocina","Restaurante","Ciudad"]).agg({"count": "sum"})

In [ ]:
df_grouped.sample(20)

### Loading data

In [ ]:
credentials = service_account.Credentials.from_service_account_file("./javeriana-dataprep.json", scopes = ["https://www.googleapis.com/auth/cloud-platform"])

In [ ]:
client = bigquery.Client(credentials = credentials, project = credentials.project_id)

In [ ]:
# Creating the job config
job_config = bigquery.LoadJobConfig(
    schema = [
        # Supported datatypes: https://cloud.google.com/bigquery/docs/reference/standard-sql/data-types
        bigquery.SchemaField("Cocina", bigquery.enums.SqlTypeNames.STRING),
        bigquery.SchemaField("Restaurante", bigquery.enums.SqlTypeNames.STRING),
        bigquery.SchemaField("Ciudad", bigquery.enums.SqlTypeNames.STRING),
    ],
    # Drod and re-create table, if exist
    write_disposition = "WRITE_TRUNCATE",
)

In [ ]:
BQ_TABLE_NAME = "dataprep.EDWIN_CUENCA_QUERY3"

In [ ]:
# Sending the job to BigQuery
job = client.load_table_from_dataframe(
    df_grouped, BQ_TABLE_NAME, job_config = job_config
)

job.result()

In [ ]:
# Verifying if table was successfully created or updated
table = client.get_table(BQ_TABLE_NAME)

print("Loaded {} rows and {} columns to {}".format(table.num_rows, len(table.schema), BQ_TABLE_NAME))

In [ ]:
query = """SELECT * FROM `javeriana-dataprep.dataprep.EDWIN_CUENCA_QUERY3`"""

pd.read_gbq(query, credentials = credentials)

                Cocina                        Restaurante     Ciudad  count
0              African  Adaya African American Restaurant      Bronx      1
1              African                  African Last Stop      Bronx      1
2              African       African Maquis La Plantation      Bronx      1
3              African                    African Terrace      Bronx      1
4              African                    Afrikiko Garden      Bronx      1
...                ...                                ...        ...    ...
21949           Donuts                     Dunkin' Donuts   Brooklyn     55
21950           Donuts                     Dunkin' Donuts     Queens     58
21951       Sandwiches                             Subway     Queens     71
21952       Sandwiches                             Subway  Manhattan    107
21953  Café/Coffee/Tea                   Starbucks Coffee  Manhattan    168

[21954 rows x 4 columns]